/*____                   _____       _           
 |  _ \                 |  __ \     | |          
 | |_) | __ _ ___  ___  | |__) |   _| | ___  ___ 
 |  _ < / _` / __|/ _ \ |  _  / | | | |/ _ \/ __|
 | |_) | (_| \__ \  __/ | | \ \ |_| | |  __/\__ \
 |____/ \__,_|___/\___| |_|  \_\__,_|_|\___||___/
heading sizes, default link styles, and default font styles*/

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

header {
  float: left;
  margin: 6vh auto;
  background: white;
  width: 49%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 5px 5px 0px 40px;
  position: relative;
  transform: translateX(-39.5vw);
  transition: transform 0.9s ease-out;
  z-index: 11;
}

header.reveal {
  transform: translateX(0);
}

header.translateY {
  transform: translate(-40vw, 50vh) scale(0.85);
}

header * {
  padding: 0;
  margin: 2px;
}

main {
  float: right;
  clear: both;
  width: 85%;
  margin: auto;
}

footer {
  clear: both;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

footer a i {
  background: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  color: firebrick;
}

/*_                             _   
 | |                           | |  
 | |     __ _ _   _  ___  _   _| |_ 
 | |    / _` | | | |/ _ \| | | | __|
 | |___| (_| | |_| | (_) | |_| | |_ 
 |______\__,_|\__, |\___/ \__,_|\__|
               __/ |                
              |___/                 
*/

div#cache {
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -200vh;
  opacity: 0;
  transition: opacity 4s;
}

main #pres > ul > li {
  transform: translateX(75vw);
  transition: transform 1.1s ease-out;
}

main #pres > ul > li > div:last-child {
  display: none;
}

main #pres > ul > li.reveal {
  transform: translateX(0);
}

#makeItRain {
  vertical-align: middle !important;
}

footer a#print {
  position: absolute;
  top: 20px;
  right: 20px;
}

.collapsible-body {
  background: whitesmoke;
}

#technos {
  display: flex;
  justify-content: space-around;
}

#technos li {
  text-align: center;
}

section#pres ul,
section#pres ul li div {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  box-shadow: none;
}

section#pres ul li div[class="collapsible-header"] {
  border: 1px solid lightgray;
}

section#pres ul li div ul {
  list-style-type: disc;
}

ul i {
  color: rgb(69, 160, 130);
}

footer ul,
footer ul li div {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border: none !important;
  box-shadow: none !important;
  color: rgb(69, 160, 130);
}

footer ul {
  width: 10% !important;
  margin-left: auto !important;
}

small a img {
  width: 15px;
  border: 0.5px solid gray;
}

small {
  position: absolute;
  top: 0;
  right: 150px;
  display: none;
}

small.reveal{
  display: block;
}

#portfolio {
  width: 75%;
  height: 75%;
  position: absolute;
  transform: translateY(-275%);
  top: 12.5%;
  left: 12.5%;
  z-index: 11;
  /* background: url(https://i.ytimg.com/vi/gD4uACwPChA/maxresdefault.jpg); */
  background-size: cover;
  border: 5px white solid;
  border-radius: 25px;
  transition: transform 2s ease;
}

#portfolio.reveal {
  transform: translateY(0%);
}

#clock-numeric {
  width: 190px;
  height: 70px;
  background: white;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  font-size: 36px;
  margin: 10vh auto;
}

#pres > ul > li.reveal {
  transform: translateX(30vw);
}

/*__  __           _       _           
 |  \/  |         | |     | |          
 | \  / | ___   __| |_   _| | ___  ___ 
 | |\/| |/ _ \ / _` | | | | |/ _ \/ __|
 | |  | | (_) | (_| | |_| | |  __/\__ \
 |_|  |_|\___/ \__,_|\__,_|_|\___||___/
*/

header a#photo img {
  border-radius: 50%;
  width: 130px;
}

header > a {
  float: right;
  shape-outside: circle();
}

.clock {
  width: 250px;
  height: 250px;
  border: 10px solid white;
  border-radius: 50%;
  margin: 30px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 5px;
  background: black;
  position: absolute;
  top: 51%;
  transform-origin: right;
}

.hour-hand {
  transition: transform 1s;
  width: 35%;
  left: 16.5%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.min-hand {
  transition: transform 1s;
  height: 4px;
  width: 45%;
  left: 6%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.second-hand {
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  height: 3px;
  left: 1.56%;
}

.centerpoint {
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 47.5%;
  width: 14px;
  height: 14px;
  left: 47.5%;
}

/* _____ _        _            
  / ____| |      | |           
 | (___ | |_ __ _| |_ ___  ___ 
  \___ \| __/ _` | __/ _ \/ __|
  ____) | || (_| | ||  __/\__ \
 |_____/ \__\__,_|\__\___||___/
*/

/* 
    PRINT 
*/
@media print {
  section#pres > ul > li.hideForPrint {
    display: none;
  }

  small {
    display: none;
  }

  header {
    width: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  header > a {
    position: absolute;
    right: -300px;
  }

  footer {
    display: none;
  }
}

/* 
    RESPONSIVE
*/

/* < 1500px */
@media screen and (max-width: 1500px) {
  header {
    width: 55%;
  }
}

/* < 1200px */
@media screen and (max-width: 1200px) {
  header {
    width: 65%;
  }
}

/* < 1000px */
@media screen and (max-width: 1000px) {
  header {
    width: 75%;
  }
}

/* < 800px */
@media screen and (max-width: 800px) {
  header,
  main {
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  header {
    padding: 20px 20px 10px 20px;
  }

  header > a {
    margin-left: 5px;
  }

  header small a img {
    width: 25px;
    height: 15px;
  }

  header small {
    right: 40%;
  }

  main section#pres ul li div {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  footer{
    display: none;
  }

  #technos {
    flex-direction: column;
  }
}

/*_______ _                         
 |__   __| |                        
    | |  | |__   ___ _ __ ___   ___ 
    | |  | '_ \ / _ \ '_ ` _ \ / _ \
    | |  | | | |  __/ | | | | |  __/
    |_|  |_| |_|\___|_| |_| |_|\___|
*/

body {
  background: rgba(178, 34, 34, 1);
  background: -moz-linear-gradient(
    left,
    rgba(178, 34, 34, 1) 0%,
    rgba(178, 34, 34, 1) 15%,
    rgba(178, 34, 34, 1) 18%,
    rgba(184, 39, 39, 1) 35%,
    rgba(201, 58, 58, 1) 66%,
    rgba(241, 111, 92, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(178, 34, 34, 1)),
    color-stop(15%, rgba(178, 34, 34, 1)),
    color-stop(18%, rgba(178, 34, 34, 1)),
    color-stop(35%, rgba(184, 39, 39, 1)),
    color-stop(66%, rgba(201, 58, 58, 1)),
    color-stop(100%, rgba(241, 111, 92, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(178, 34, 34, 1) 0%,
    rgba(178, 34, 34, 1) 15%,
    rgba(178, 34, 34, 1) 18%,
    rgba(184, 39, 39, 1) 35%,
    rgba(201, 58, 58, 1) 66%,
    rgba(241, 111, 92, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(178, 34, 34, 1) 0%,
    rgba(178, 34, 34, 1) 15%,
    rgba(178, 34, 34, 1) 18%,
    rgba(184, 39, 39, 1) 35%,
    rgba(201, 58, 58, 1) 66%,
    rgba(241, 111, 92, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(178, 34, 34, 1) 0%,
    rgba(178, 34, 34, 1) 15%,
    rgba(178, 34, 34, 1) 18%,
    rgba(184, 39, 39, 1) 35%,
    rgba(201, 58, 58, 1) 66%,
    rgba(241, 111, 92, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(178, 34, 34, 1) 0%,
    rgba(178, 34, 34, 1) 15%,
    rgba(178, 34, 34, 1) 18%,
    rgba(184, 39, 39, 1) 35%,
    rgba(201, 58, 58, 1) 66%,
    rgba(241, 111, 92, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22222', endColorstr='#f16f5c', GradientType=1 );
}
